<div id="map-canvas"></div>

<div id="pullout">
  <div id="truck-info">
    <div id="name">
      <div id="address">
        <div id="other address">
          <div id="food">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
