<div id="map-canvas"></div>

<div id="pullout">
  <div id="truck-info">
    <div id="name"></div>
    <div id="divider"></div>
    <div id="address"></div>
    <div id="other-address"></div>
    <div id="food"></div>
  </div>
</div>
