
<div id="map-canvas"></div>

<div id="pullout">
  <div id="truck-info">
    <div id="top">
      <div id="name"></div>
      <div class="divider"></div>
      <div class="divider"></div>
    </div>
    <div id="bottom">
      <div class="col-6">
        <div id="address"></div>
        <div id="other-address"></div>
        <div id="food"></div>
      </div>
  <!-- <div id="twitter">
    <h1 id="twitter-header">Mobile Cravings: SF Food Truck Twitter</h1>
    <div class="col-12">
      <% @tweets.each do |tweet| %>
        <div class="tweet">
          <%= image_tag(tweet.user.profile_background_image_url_https, class: "profile-picture") %>
          <div class="tweet-user"><%= tweet.user.screen_name %>
            <div class="tweet-text"><%= tweet.text %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div> -->
      <div class="col-1">
        &nbsp
      </div>
      <div class="col-5">
        <a class="twitter-timeline" href="https://twitter.com/MobileCravings/lists/sf-food-trucks" data-widget-id="604683220114771968">Tweets from https://twitter.com/MobileCravings/lists/sf-food-trucks</a>
        <script>!function(d,s,id){
            var js,
            fjs=d.getElementsByTagName(s)[0],
            p=/^http:/.test(d.location)?'http':'https';
            if (!d.getElementById(id)) {
              js=d.createElement(s);
              js.id=id;
              js.src=p+"://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);
            }
          }(document,"script","twitter-wjs");
        </script>
      </div>
    </div>
  </div>
</div>
