@import 'reset';
@import 'columns';
@import 'foundation-icons';
@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Lobster|Raleway:400,100);

html, body {
  width: 100%;
  height: 100%;
  top: 50px;
}

body {
  margin-top: 50px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#logo, #signout, #api {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-top: 1%;
}

#logo {
  position: relative;
  float: left;
}

#api {
  position: relative;
  float: right;
}

#signout {
  position: relative;
  float: right;
  right: 10%;
}

#navbar {
  float: right;
  height: 5%;
  width: 100%;
  min-height: 50px;
  top: 0;
  background: #000000;
  position: fixed;
  z-index: 11;
  -moz-box-shadow:0 0 8px 0 black;
  -webkit-box-shadow:0 0 8px 0 black;
  box-shadow:0 0 8px 0 black;
}

#map-canvas {
  float: left;
  height: 100%;
  width: 100%;
}

#pullout {
  float: right;
  width: 0%;
  height: 100%;
  right: 0;
  position: fixed;
  background-color: #333333;
  -moz-box-shadow:0 0 8px 0 black;
  -webkit-box-shadow:0 0 8px 0 black;
  box-shadow:0 0 8px 0 black;
  overflow: auto;
}

.fi-x:hover {
  opacity: 0.5;
}

#truck-info {
  margin-top: 45px;
  margin-left: 5%;
  height: 95%;
  width: 95%;
  color: #CCCCCC;
  overflow: scroll;
}

#name {
  font-family: 'Lobster', cursive;
  font-size: 350%;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: #CCCCCC;
}

#address {
  font-family: 'Noto Sans', sans-serif;
  font-size: 225%;
  line-height: 60px;
}

#other-address {
  font-family: 'Noto Sans', sans-serif;
  font-size: 150%;
  line-height: 40px;
}

#food {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 125%;
  line-height: 40px;
}

#twitter-header {
  margin-left: 5%;
  font-family: 'Noto Sans', sans-serif;
  display: absolute;
  color: #333333;
}

#twitter {
  background: #DDDDDD;
  height: 45%;
  width: 100%;
  overflow: auto;
}

.tweet {
  margin-left: 5%;
  margin-right: 5%;
  height: 125px;
  width: 100%;
  color: #333333;
  border-top: 1px solid #333333;
}

.profile-picture {
  float: left;
  height: 125px;
  width: 125px;
}

.tweet-user {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 150%;
  line-height: 40px;
}

.tweet-text {
  font-family: 'Raleway', sans-serif;
  font-size: 70%;
  font-weight: 100;
  line-height: 25px;
}

#top {
  height: 20%;
}

#bottom {
  height: 70%;
}
